[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "clip"]
	path = clip
	url = https://github.com/dacap/clip.git
[submodule "SDL_net"]
	path = SDL_net
	url = https://github.com/libsdl-org/SDL_net.git
